<br>
<div class="row">

  <form class="form-group">
    <div class="col-md-6">
    <label class="control-label">Content Id</label>
    <input type="text" class="form-control curve" placeholder="Content Id"><br>
    <label class="control-label">Sequence No.</label>
    <input type="text" class="form-control curve" placeholder="Sequence No."><br>
    <label class="control-label">Type</label>
    <select name="select" id="type" class="form-control">
      <option value="option1">option1</option>
      <option value="option2">option2</option>
      <option value="option3">option3</option>
      <option value="option4">option4</option>
    </select>
    <br>
    <label class="control-label">Description</label>
    <textarea type="text" class="form-control curve" placeholder="Description"></textarea><br>
  </div>
  <div class="col-md-6">
    <label class="control-label">Module</label>
    <select name="select" id="type" class="form-control curve">
      <option value="option1">option1</option>
      <option value="option2">option2</option>
      <option value="option3">option3</option>
      <option value="option4">option4</option>
    </select>
    <br>
    <label class="control-label">Chapter</label>
    <select name="select" id="type" class="form-control curve">
      <option value="option1">option1</option>
      <option value="option2">option2</option>
      <option value="option3">option3</option>
      <option value="option4">option4</option>
    </select>
    <br>
    <label class="control-label">Topic</label>
    <select name="select" id="type" class="form-control curve">
      <option value="option1">option1</option>
      <option value="option2">option2</option>
      <option value="option3">option3</option>
      <option value="option4">option4</option>
    </select>
    <br>
    <input type="file" ng2FileSelect class="form-control curve" /><br>
    <div style="text-align: right;">
    <button type="submit" class="btn btn-primary curve">Create</button>
  </div>
  </div>
  </form>

</div>
