<div class="row">

  <form class="form-group">
    <div class="col-md-6">
    <label class="control-label large">Name</label>
    <input type="text" class="form-control curve" placeholder="Name"><br>
    <label class="control-label large">Subject</label>
    <input type="text" class="form-control curve" placeholder="Subject"><br>
    <label class="control-label large">Description</label>
    <textarea type="text" class="form-control curve" placeholder="Description"></textarea><br>
    <label class="control-label large">Newsletter File</label>
    <input type="file" ng2FileSelect class="form-control curve" /><br>
    <div style="text-align: right;">
      <button type="submit" class="btn btn-primary curve large">Upload</button>
    </div>
  </div>
  </form>

</div>
