<div class="card card-block login-card">
  <h3 class="form-label">Forgot Password</h3>
  <span class="form-label">Enter registered email</span>
  <div class="form-group">
    <form>
    <div class="input-group">
      <span class="input-group-addon addon-left" id="email">
        <i class="fa fa-user fa-fw"></i>
      </span>
      <input class="form-control with-primary-addon" placeholder="Email" type="text" formControlName="email">
    </div>
    <button class="btn btn-lg btn-primary">Retreive Password</button>
    <a href="login" routerLinkActive="router-link-active"  class="btn btn-link">Login. →</a>
  </form>
  </div>
</div>
