<div class="card card-block login-card">
  <h3 class="form-label">Reset Password</h3>
  <span class="form-label">Enter new password</span>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon addon-left" id="otp">
        <i class="fa fa-user fa-fw"></i>
      </span>
      <input class="form-control with-primary-addon" placeholder="Verification Code" type="text">
    </div>
    <div class="input-group">
      <span class="input-group-addon addon-left" id="password">
        <i class="fa fa-user fa-fw"></i>
      </span>
      <input class="form-control with-primary-addon" placeholder="New Password" type="password">
    </div>
    <button class="btn btn-lg btn-primary">Reset Password</button>
    <a href="" class="btn btn-link">Register Now. →</a>
    <a href="login" class="btn btn-link">Login →</a>
  </div>
</div>
